<h1 style="font-family: sans-serif;">Create a new Portfolio Item</h1>

<%= form_for(@portfolio_item) do |f| %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Name" %>
  </div>

  <div class="field">
    <%= f.text_field :subtitle, placeholder: "Subtitle" %>
  </div>

  <div class="field">
    <%= f.text_area :body, placeholder: "Enter portfolio content here" %>
  </div>

  <ul>
  <%= f.fields_for :technologies do |technology_form| %>
    <li>
    <%= technology_form.text_field :name, placeholder: "Language Used" %>
    </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>