<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'contact', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <div>
    <body>
      <div class="app-card-container">
        <div class="card"> 
          <h1>Contact Me</h1>
          <p><%= number_to_phone "6035029606" %></p>
          <h4>School Address</h4>
          <p>2912 Executive Parkway, Lehi, Utah, 84043</p>
          <p><a href="mailto:irmercaldi@gmail.com?subject=Portfolio Contact" "email me">Email me</a></p>
          <p class="social-links">
            <a class="github" href="https://github.com/irmercaldi" target="_blank"><%= fa_icon "github" %></a>
            <a class="facebook" href="https://www.facebook.com/people/Ian-Mercaldi/100009101760745" target="_blank"><%= fa_icon "facebook" %></a>
            <a class = "twitter" href="https://twitter.com/irm603" target="_blank"><%= fa_icon "twitter" %></a>
            <a class = "instagram" href="https://www.instagram.com/irm801" target="_blank"><%= fa_icon "instagram" %></a>
          </p>
        </div>
      </div>
    </body>
  </div>
</html>